{% if page.intro_paragraph and page.intro_paragraph != '' %}

<section class="intro">
  <div class="intro__background"></div>
  <div class="container">
    <div class="intro__paragraph">
      <h2></h2>
      <p>
        I am a full-stack web developer. Currently, I’m focused on building
        EdTech solutions at
        <a target="_blank" href="https://wherewego.org">WhereWeGo,</a> but I am
        always looking for freelance opportunities.
      </p>
      <button id="contactButton">Let's Talk!</button>
    </div>
  </div>
</section>

{% endif %}

<script>
  const button = document.querySelector("#contactButton");
  button.addEventListener("click", navigateToContact);

  function navigateToContact() {
    document.querySelector("#contact").scrollIntoView({
      behavior: "smooth",
    });
  }
</script>
