// Main Styles

// See the other SASS partials for typography, variables etc.
// CSS Grid is used for the layout with fallbacks for less capable browsers
// declared beforehand, and a @supports feature query to reset fallbacks when
// necessary. https://rachelandrew.co.uk/css/cheatsheets/grid-fallbacks

@use "sass:map";

// the body element is our primary layout grid

body {
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #272727;
}

// header, the first grid row
// it is also a grid for the logo and nav
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // border-bottom: 1px solid $border-gray;
  height: calc(4rem - 6px);
}

nav {
  width: 90rem;
  max-width: 90rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  & > ul {
    display: flex;
    margin: 0;
    padding: 0;
    li {
      a {
        @include code-font();
        padding: 1rem;
        color: white;
        position: relative;
        text-transform: uppercase;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 100%;
          background-color: $contrast;
          transform: scale(0) translateX(30%);
        }
        &:hover {
          text-decoration: none;
          // background-color: $color-light;

          &::after {
            transform: scale(1) translateX(0);
            transition: all 0.2s linear;
          }
        }
        &:visited {
          color: white;
        }
      }
    }
  }
}

// our main content wrapper, the width scales with font size
.container {
  max-width: 80rem;
  margin: 0 auto;
}

// blog posts list
html[data-current="blog"] main > section {
  ul li {
    padding: 2rem 0;
    // border-bottom: 0.05em solid $hairline-color;
    p {
      padding-bottom: 0;
    }
  }
}

// adjacent blog posts links
nav[aria-label="Adjacent Posts"] {
  padding: 4rem 0;
  ul {
    display: flex;
    li {
      flex: 0 0 50%;
      width: auto;
      &:nth-child(2) {
        text-align: right;
      }
    }
  }
}

// contact form
html[data-current="contact"] main > form {
  display: grid;
  label {
    display: none;
  }
  input,
  textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
  }
  button {
    width: 100%;
  }
}

footer {
  grid-column: full;
  display: grid;
  grid-template-columns:
    [full-start] minmax(1rem, 1fr)
    [main-start] minmax(0, 50rem) [main-end]
    minmax(1rem, 1fr) [full-end];
  // background-color: $grey-bg-color;
  > small {
    grid-column: main;
  }
}

section {
  padding-bottom: 4rem;
  margin-bottom: 8rem;
}
section > h2 {
  margin: 1rem;
  padding: 0;
}

.intro {
  position: relative;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .intro__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #272727;
    opacity: 0.1;
    background-image: repeating-radial-gradient(
        circle at 0 0,
        transparent 0,
        #272727 40px
      ),
      repeating-linear-gradient(#f6f6f655, #f6f6f6);
  }
  .intro__paragraph {
    z-index: 1;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 4rem;
    color: white;

    span span {
      position: relative;
      bottom: -1em;
      opacity: 0;
      display: inline-block;
      animation: move-text 0.75s forwards;
      margin: 0.25rem;
    }

    p {
      @include base-font();
      line-height: 1.5;
      max-width: 500px;
      width: 100%;
      text-align: center;
      font-size: 1.25rem;
      a {
        font-family: inherit;
        font-size: inherit;
        text-decoration: underline;
        transition: color 0.3s ease-in-out;
        &:hover {
          color: $contrast;
        }
      }
    }

    & > h2 {
      @include title-font();
      font-size: 4rem;
      line-height: 4rem;
      letter-spacing: 1px;
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 1rem;
      color: $contrast;

      @media screen and (min-width: $screen-xs-min) {
        font-size: 6rem;
        line-height: 6rem;
      }
    }
  }
}
section {
  h3 {
    color: white;
    margin: 0 1rem;
  }
}
.projects {
  display: flex;
  flex-wrap: wrap;

  .project {
    flex: 1 0 auto;
    width: calc(100% - 2rem);
    border: 2px solid black;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 4px 4px 0px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease-out;
    background-color: white;

    @media screen and (min-width: $screen-sm-min) {
      max-width: calc(50% - 2rem);
      width: calc(50% - 2rem);
    }

    @media screen and (min-width: $screen-md-min) {
      max-width: calc(33% - 2rem);
      width: calc(33% - 2rem);
      height: 300px;
    }
    &:hover {
      transform: scale(1.05);
    }

    .project__tech-stack {
      @include code-font();
      text-transform: uppercase;
    }
    .project__links {
      align-self: flex-end;
      justify-self: flex-end;

      a {
        font-size: 0.9rem;
        text-transform: uppercase;
        color: $contrast;
        a:visited {
          color: inherit;
        }
      }
    }
  }
}
@keyframes move-text {
  0% {
    bottom: -0.2em;
    opacity: 1;
  }

  50% {
    bottom: 0.2em;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}

form {
  @include base-font();

  display: flex;
  flex-direction: column;
  margin: 1rem;

  label {
    color: $contrast;
    margin: 1rem 0;
  }

  input,
  textarea {
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: none;
  }
  button {
    margin: 1rem 0;
    width: 155px;
  }
}
