// Main Styles

// See the other SASS partials for typography, variables etc.
// CSS Grid is used for the layout with fallbacks for less capable browsers
// declared beforehand, and a @supports feature query to reset fallbacks when
// necessary. https://rachelandrew.co.uk/css/cheatsheets/grid-fallbacks

@use "sass:map";

// the body element is our primary layout grid

body {
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
}

// header, the first grid row
// it is also a grid for the logo and nav
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid $border-gray;
  height: calc(4rem - 6px);
}

nav  {
  margin: 0 10rem;
  & > ul {
    display: flex;
    margin: 0;
    padding: 0;
    li {
      a {
        padding: 1rem;
        color: $main-color;
        position: relative;
        &::after{
          content: '';
          position: absolute;
          bottom: 0px; 
          left: 0;
          height: 2px;
          width: 100%; 
          background-color: $main-color; 
          transform: scale(0) translateX(30%);
        }
        &:hover {
          text-decoration: none;
          background-color: $color-light;
  
          &::after{
            transform: scale(1) translateX(0);
            transition: all 0.2s linear;
          }
        }
        &:visited {
          color: $main-color;
        }
      }
    }
  }
  
}



// our main content wrapper, the width scales with font size
main {
  max-width: 80rem;
  margin: 0 auto;
}



// blog posts list
html[data-current="blog"] main > section {
  ul li {
    padding: 2rem 0;
    // border-bottom: 0.05em solid $hairline-color;
    p {
      padding-bottom: 0;
    }
  }
}

// adjacent blog posts links
nav[aria-label="Adjacent Posts"] {
  padding: 4rem 0;
  ul {
    display: flex;
    li {
      flex: 0 0 50%;
      width: auto;
      &:nth-child(2) {
        text-align: right;
      }
    }
  }
}

// contact form
html[data-current="contact"] main > form {
  display: grid;
  label {
    display: none;
  }
  input,
  textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
  }
  button {
    width: 100%;
  }
}


footer {
  grid-column: full;
  display: grid;
  grid-template-columns:
    [full-start] minmax(1rem, 1fr)
    [main-start] minmax(0, 50rem) [main-end]
    minmax(1rem, 1fr) [full-end];
  // background-color: $grey-bg-color;
  > small {
    grid-column: main;
  }
}


// page intro
.intro-paragraph{
  border-radius: 20px;
  padding: 4rem;
  margin-top: 4rem;

  & > h2{
    @include title-font();
    font-size: 6rem;
    line-height: 6rem;
    letter-spacing: 1px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 1rem;
    
    color: $main-color;
  }
}


