// List your mixins in here to keep things tidy

// A basic button
@mixin button($btn-bg, $btn-text) {
  @include base-font();
  font-weight: $bold-font-weight;
  padding: 0.75rem 1.5rem;
	line-height: $base-line-height;
	color: $btn-text;
	background-color: $btn-bg;
	border: 2px solid $btn-text;
  border-radius: 50px;
  box-shadow: 
  4px 4px 0px $btn-text, 1px 1px 2px $border-gray;
  text-transform: uppercase;

  &:focus{
    box-shadow: none;
    transform: translate(4px, 4px);
  }

}

// Disable text selection
@mixin user-select($argument: none){
  -webkit-user-select: $argument;
  -moz-user-select: $argument;
  -ms-user-select: $argument;
  user-select: $argument;
}
