// List your mixins in here to keep things tidy

// A basic button
@mixin button($btn-bg, $btn-text) {
  @include base-font();
  font-weight: $bold-font-weight;
  padding: 1rem 2rem;
	line-height: $base-line-height;
	color: $btn-text;
	background-color: $btn-bg;
	border: 3px solid $btn-text;
  border-radius: 200px;
  box-shadow: 1px 1px 2px $border-gray;

}

// Disable text selection
@mixin user-select($argument: none){
  -webkit-user-select: $argument;
  -moz-user-select: $argument;
  -ms-user-select: $argument;
  user-select: $argument;
}
