

// fonts
$title-font: 'Orelega One', serif;
$base-font: 'Noto Sans KR', sans-serif;
$code-font: 'Source Code Pro', serif;

// base sizes
$base-font-size: 10px;
$base-line-height: 1.5;
$base-font-weight: 400;
$title-font-weight: 900;
$bold-font-weight: $title-font-weight;
// base colors
$base-font-color: black;
$main-color: hsl(195, 91, 30);
$color-light: rgba(206, 241, 253, 0.3);
$border-grey: #ddd;
$border-gray: $border-grey;
$contrast: #E2FADB;

// viewport breakpoints
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1240px;
$screen-xl-min: 1920px;

@mixin title-font(){
    font-family: $title-font;
    font-weight: $title-font-weight;
}

@mixin base-font(){
    font-family: $base-font;
    font-weight: $base-font-weight;
}

@mixin code-font(){
    font-family: $code-font;
    font-weight: $title-font-weight;
}